.body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-nunito), sans-serif;
    overflow-x: hidden;
}